<%= form_for :session, :url => sessions_path do |f| %>

  <li class="has-form"><%= f.text_field :email, :placeholder => "email" %></li>
  <li class="has-form"><%= f.password_field :password, :placeholder => "password" %></li>
  <li class="active"><%= f.submit "Sign in" %></li>

<% end %>