<ul class="example-orbit" data-orbit>
  <li>
    <img src="/Users/phoebescott/Desktop/luxelist/app/assets/images/sofa.jpg" />
    <div class="orbit-caption">
      Mod Sofa.
    </div>
  </li>
  <li class="active">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6gRvk4TgICRxkkyiQxZHhMlN9CSX1rH_RCNd0HzZ0llnsE26pvg" alt="slide 2" />
    <div class="orbit-caption">
      Mod Chair and Ottoman.
    </div>
  </li>
  <li>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSOkA0HXyZ5CU4ssDdqHX4HQJYJjVHSmy9gabBDCGk-QUNk-rCO" alt="slide 3" />
    <div class="orbit-caption">
      Mod Credenza.
    </div>
  </li>
</ul>

<ul class="clearing-thumbs clearing-feature" data-clearing>
  <li style="background:url(/assets/images/tag.png) center center; background-size: cover;"></li>
  <li class="clearing-featured-img"><a href="path/to/your/img"><img src="path/to/your/img-th"></a></li>
  <li><a href="path/to/your/img"><img src="path/to/your/img-th"></a></li>
</ul>


