<table>
 <tr>
   <td>Item Name: </td><td>{{itemDetail.item_name}}</td>
 </tr>
 <tr>
   <td>Price: </td><td>{{itemDetail.item_price}}</td>
 </tr>
 <tr>
   <td>Version: </td><td>{{itemDetail.item_version}}</td>
 </tr>
</table>
<br />
<a href="" ng-click="listItems()">Return to the item list</a>