// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link

.top-bar-button {
  background-color: black;
  color: white;
  font-family: "Avenir Next";
  border: none;
  &:hover{background-color: #474747; cursor: pointer;}
}

.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

.top-bar {
  background-color: black;
  font-family: "Avenir Next";
}

.top-bar-section {
  margin-top: 0px;
}

.top-bar-section ul li {background-color: black; }

.top-bar .has-form {
  background-color: black;
}

.top-bar-section li.active:not(.has-form) a:not(.button){
  background-color: black;
  font-family: "Avenir Next";
  color: #eee;
  &:hover{background-color: #474747;}
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background-color: black;
  font-family: "Avenir Next";
  color: #eee;
  & img {height: 40px;}
  &:hover{background-color: #474747;}
}

.top-bar-section ul.right li.has-dropdown ul#dropmenu.f-dropdown {
  background-color: black;
  & label {
  background-color: black;
  font-family: "Avenir Next";
  color: #eee;
  width: 100%;
  margin-left: 5px;
  &:hover{color: #474747;}}
  & li {background-color: black; &:hover {background-color: black};}
}

.orbit-container .orbit-slides-container img {margin: auto;}


.orbit-container .orbit-slides-container > li.active {
  margin: auto;
  margin-top: 10%;
}

.orbit-container .orbit-slides-container > li .orbit-caption {
  text-align: center;
  background-color: rgba(238,238,238,.8);
  color: #474747;
  margin-top: 20px;
}

.orbit-container .orbit-bullets {display: none;}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral

.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
body {
  font-family: "Avenir Next";
}

.favorite {
  background-image:url(http://i.imgur.com/JGBsx8v.png);
  max-width: 100px;  
  overflow: hidden;
  background-repeat:no-repeat;
}

.container {
  width: 80%;
  margin: 30px auto;
  overflow: hidden;
}

.galleryItem {
  color: #797478;
  font: 10px/1.5 Verdana, Helvetica, sans-serif;
  float: left;

  width: 16%;
  margin: 2% 2% 50px 2%;
}

.galleryItem h3 {
  text-transform: uppercase;
}

.galleryItem img {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

main {
  @include twelve-columns;
  background-color: #fff;
  height: 100%;
  }
section {
  @extend .row;
  margin-top: 20px;
  }