// import the CSS framework
@import "foundation";

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

.top-bar {
  background-color: black;
  font-family: "Avenir Next";
}

.top-bar-section {
  margin-top: 0px;
}

.top-bar .has-form {
  background-color: black;
}

.top-bar-section li.active:not(.has-form) a:not(.button){
  background-color: black;
  font-family: "Avenir Next";
  color: #eee;
  &:hover{background-color: #474747;}
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-family: "Avenir Next";
  color: #eee;
  & img {height: 40px;}
  &:hover{background-color: #474747;}
}

.orbit-container .orbit-slides-container img {
  margin: auto;
}

.orbit-container .orbit-slides-container > li.active {
  margin: auto;
  margin-top: 20%;
}

.orbit-container .orbit-slides-container > li .orbit-caption {
  text-align: center;
  background-color: rgba(238,238,238,.8);
  color: #474747;
}

.orbit-container .orbit-bullets {display: none;}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral

.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
body {
  font-family: "Avenir Next";
}

main {
  @include twelve-columns;
  background-color: #fff;
  height: 100%;
  }
section {
  @extend .row;
  margin-top: 20px;
  }