<!-- This is a carousel containing today's most popular items
It is viewable to logged-in users -->

<div class="orbit-container">
  <ul data-orbit class="example-orbit orbit-slides-container" x-ng-app="items_app" x-ng-controller="ItemCtrl">
      <li class = "active" x-ng-repeat="item in items track by $index">
        <img x-ng-src="{{ item.images[0].full }}" />
        <div class="orbit-caption">
          {{item.heading}}
          Price: ${{item.price}}
          Location: {{item.location.city}}
        </div>
      </li>
  </ul>
</div>
