<!-- This is a carousel containing today's most popular items
It is viewable to logged-out and logged-in users -->

<ul class="example-orbit" data-orbit>
  <li>
    <img src="http://st.houzz.com/simgs/c2819ed00005724a_4-4218/modern-furniture.jpg" />
    <div class="orbit-caption">
      Mod Sofa.
    </div>
  </li>
  <li class="active">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6gRvk4TgICRxkkyiQxZHhMlN9CSX1rH_RCNd0HzZ0llnsE26pvg" alt="slide 2" />
    <div class="orbit-caption">
      Mod Chair and Ottoman.
    </div>
  </li>
  <li class="active">
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSOkA0HXyZ5CU4ssDdqHX4HQJYJjVHSmy9gabBDCGk-QUNk-rCO" alt="slide 3" />
    <div class="orbit-caption">
      Mod Credenza.
    </div>
  </li>
</ul>

<!-- This is a light box displaying the logged-in user's tagged items -->

<!-- <ul class="clearing-thumbs" data-clearing>
  <li style="max-width: 100px;"><a href="http://www.officialpsds.com/images/thumbs/Tag-Vector-psd37745.png"><img src="http://www.officialpsds.com/images/thumbs/Tag-Vector-psd37745.png"></a></li>
  <li><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShOHjr45qw3vyyhCd07e_Tpuudm9IdwkWbAY4gwTpzubhMrh__"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShOHjr45qw3vyyhCd07e_Tpuudm9IdwkWbAY4gwTpzubhMrh__"></a></li>
  <li><a href="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/11/27/LocalLiving/Images/32728-18_2.jpg"><img src="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/11/27/LocalLiving/Images/32728-18_2.jpg"></a></li>
</ul> -->