<div x-ng-app="items_app">

  <div x-ng-controller="ItemCtrl">

    <ul class="example-orbit" data-orbit >
        <li class="" x-ng-repeat="item in items track by $index">
            <img x-ng-src="{{ item.images[0].full }}" />

          <div class="orbit-caption">
            {{item.heading}}
            Price: ${{item.price}}
            Location: {{item.cityName}}
          <br>
          <div>
            <input class="top-bar-button" type="button" value="Favorite!" x-ng-click="addFavorite(item)">
            <a href="{{item.external_url}}" target="_blank"><input class="top-bar-button" type="button" value="View on Craig's List"></a>
          </div>

          </div>
          <br>

        </li>
    </ul>

  </div>

</div>

<!--; value="Bookmark this!" class="button small" -->