<div id="myModal2" class="reveal-modal" data-reveal>
  <%= render 'favorites/show' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div class="galleryItem">
    <a href="" data-reveal-id="myModal2"><img src="" alt""></a>
</div>

<div class="galleryItem">
    <a href="" data-reveal-id="myModal2"><img src="" alt""></a>
</div>

<div class="galleryItem">
    <a href="" data-reveal-id="myModal2"><img src="" alt""></a>
</div>

<div class="galleryItem">
    <a href="" data-reveal-id="myModal2"><img src="" alt""></a>
</div>

<div class="galleryItem">
    <a href="" data-reveal-id="myModal2"><img src="" alt""></a>
</div>
