<!-- This is a carousel containing the user's taggeditems
It is only viewable to logged-in users -->

  <div x-ng-repeat="i in images | filter:true">
<!--         <h2>Bookmark</h2>
        <img src="{{item.images[0].full}}">
        <input type="checkbox" x-ng-model="i.bookmarked">
      </div> -->
    </div>

<div class = "container" ng-repeat="i in images | filter:true">
    <div class="galleryItem">
    <!-- <a href="{{item.images[0].full}}"><img src="{{item.images[0].full}}"></a> -->
    </div>



  <div class="galleryItem">
    <a href="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/11/27/LocalLiving/Images/32728-18_2.jpg"><img src="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/11/27/LocalLiving/Images/32728-18_2.jpg" alt""></a>
  </div>
  <div class="galleryItem">
    <a href="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/11/27/LocalLiving/Images/32728-18_2.jpg"><img src="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/11/27/LocalLiving/Images/32728-18_2.jpg" alt""></a>
  </div>
  <div class="galleryItem">
    <a href="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/11/27/LocalLiving/Images/32728-18_2.jpg"><img src="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/11/27/LocalLiving/Images/32728-18_2.jpg" alt""></a>
  </div>
  <div class="galleryItem">
    <a href="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/11/27/LocalLiving/Images/32728-18_2.jpg"><img src="http://www.washingtonpost.com/rf/image_606w/2010-2019/WashingtonPost/2013/11/27/LocalLiving/Images/32728-18_2.jpg" alt""></a>
  </div>
  
</div>