<ul class="right">
  <li class="has-form"><input type="text" placeholder="Email"></li>
  <li class="has-form"><input type="password" placeholder="Password"></li>
  <li class="divider"></li>
  <li class="active"><a href="#" >Sign Up</a></li>
  <li class="divider"></li>
  <li class="active"><a href="#" >Sign In</a></li>
  <li class="divider"></li>
  <li class="has-dropdown">
    <a href="#"data-dropdown="dropmenu"><img src="http://imgur.com/1AwQUsY.png"/></a>
      <ul id="dropmenu" class="f-dropdown" data-dropdown-content>
        <li><label>Edit Profile</label></li>
        <li><label>View Tags</label></li>
        <li class="divider"></li>
        <li><label>Sign Out</label></li>
      </ul>
  </li>
</ul>

