<section class="top-bar-section">
  <ul class="right">
    <li class="divider"></li>
    <li class="has-form"><input type="text" placeholder="Email"></li>
    <li class="divider"></li>
    <li class="has-form"><input type="password" placeholder="Password"></li>
    <li class="divider"></li>
    <li class="active"><a href="#" >Sign Up</a></li>
    <li class="divider"></li>
    <li class="active"><a href="#" >Sign In</a></li>
    <li class="divider"></li>
    <li class="has-dropdown"><a href="#">Me</a>
      <ul class="dropdown">
        <li><label>Edit Profile</label></li>
        <li><label>View Tags</label></li>
        <li class="divider"></li>
        <li><label>Sign Out></label></li>
      </ul>
    </li>
  </ul>
</section>
    <li class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <input type="password" placeholder="Password">
        </div>
      </div>
    </li>
  </ul>
</div>
