<%# add navigation links to this file %>

  <div class="top-bar-right">
    <ul>
    <li class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Email">
        </div>
      </div>
    </li>
    <li class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <input type="password" placeholder="Password">
        </div>
      </div>
    </li>
  </ul>
</div>
