<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar">
  <ul class="title-area">
    <li class="topbar icon"><a href="#"><img src="http://i.imgur.com/zcIInF2.jpg?1" style="width: 60px; overflow: hidden"/></a></li>
    <li class="toggle-topbar icon"><a href="#"><span></span></a>
        </li>
  </ul>
      <%= render 'layouts/navigation_links' %>
</nav>
